#* env placeholder per il backend

APP_NAME=143
DATABASE_URL=postgresql://postgres@localhost:5432/portfolio_db
DB_HOST=host_name
DB_PORT=port_number
DB_USER=your_db_user
DB_PASS=your_db_password
DB_NAME=your_db_name